body{
  background-color: pink
}

#style1{text-align: center;}
h1#style1{background-color: tomato}
p#style1{background-color:Lavender;
  font-weight: bold;
}

#style2{text-align: center;}

div.bt{
  text-align: center;
}

div.bt button{
  background: #white;
  border-radius: 18px;
  font-size: 15px;
  color:deeppink;
}
